*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100vh;
    background-color: #0D0F12;
}

/* .new-release{
    margin-bottom: 16vh;
} */

.new-release img{
    height: 28vh;
    border-radius: 0.9vw;
}










